body, td {
   font-family: serif;
   background-color: white;
   font-size: 12px;
   margin: 8px;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}



h1 { 
   font-family: 'Jura', sans-serif;
   font-size:1.95em; 
   font-weight: 800;
}

h2, h3, h4, h5, h6 {
   font-family: sans-serif;
}

h2 { 
   font-size:1.8em; 
}

h3 { 
   font-size:1.4em; 
}

h4 { 
   font-size:1.0em; 

}

h5 { 
   font-size:0.9em; 
}

h6 { 
   font-size:0.8em; 
}

a:link, a:visited, a:hover, a:active {
   color: rgb(212, 25, 68);
}

pre {	
   margin-top: 0;
   max-width: 95%;
   border: 1px solid #ccc;
   white-space: pre-wrap;
}

pre code {
   display: block; padding: 0.5em;
}

code.r, code.cpp {
   background-color: #F8F8F8;
}

table, td, th {
  border: none;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}

.wrapper {
   display: grid; 
   grid-template-columns: [nav] 30% [text] 55%; 
   grid-template-rows: [top-margin] 80px [title-line] 40px [text] 1fr;
   grid-column-gap: 20px;
   grid-row-gap: 10px;
}


.nameplate {
    grid-column-start: 1;
    grid-column-end: 3;
}

.nav {
   text-align: right;
   grid-column-start: 1;
   grid-column-end: 2;
}

.tex {
   grid-column-start: 2;
   grid-column-end: 3;
}

@media print {
   * { 
      background: transparent !important; 
      color: black !important; 
      filter:none !important; 
      -ms-filter: none !important; 
   }

   body { 
      font-size:12pt; 
      max-width:100%; 
   }
       
   a, a:visited { 
      text-decoration: underline; 
   }

   hr { 
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote { 
      padding-right: 1em; 
      page-break-inside: avoid; 
   }

   tr, img { 
      page-break-inside: avoid; 
   }

   img { 
      max-width: 100% !important; 
   }

   @page :left { 
      margin: 15mm 20mm 15mm 10mm; 
   }
     
   @page :right { 
      margin: 15mm 10mm 15mm 20mm; 
   }

   p, h2, h3 { 
      orphans: 3; widows: 3; 
   }

   h2, h3 { 
      page-break-after: avoid; 
   }
}
